{{#each users}}
<div class="user-profile">
  <span class="cart-name">{{ this.brand }}: {{ this.name }}</span>
 <div class="img-block"> <img class="avatars" src="{{ this.avatar }}" alt=""></div>
  <ul class="info">
      <li><b>Модель:</b> {{ this.name }}</li>
      <li><b>Бренд:</b> {{ this.brand }}</li>
      <li><b>Экран:</b> {{ this.screen }}</li>
      <li><b>Цена:</b> {{ this.prise }}</li>
  </ul>
</div>
{{/each}}