<div class="user-profile">
  <span class="cart-name">{{ brand }}: {{ name }}</span>
  <img class="avatars" src="{{ avatar }}" alt="">
  <ul class="info">
      <li><b>Модель:</b> {{ name }}</li>
      <li><b>Бренд:</b> {{ brand }}</li>
      <li><b>Экран:</b> {{ screen }}</li>
      <li><b>Цена:</b> {{ prise }}</li>
  </ul>
</div>